<form method="post" action="{% url 'branches:monthly_update' form.instance.pk %}" class="js-monthly-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">แก้ไข</h4>
  </div>
  <div class="modal-body">
    {% include 'branches/monthly/partial_monthly_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
    <button type="submit" class="btn btn-primary">ยืนยัน</button>
  </div>
</form>
